In [ ]:
#break
for num in range(10):
  if num == 8:
    break        # break for rokne k lie
  else:
    print(num)

0
1
2
3
4
5
6
7

In [21]:
#break

name1=("urooj")
name2=("fatima")

for name in name1:  # name variable name1 "urooj"
  if name == "name2": # name equal to name2 means "fatima" then break
    break
  else:
    print(name)

u
r
o
o
j

In [7]:
#continue
for i in range(8):
  if i == 4:
    continue
  print(i)

0
1
2
3
5
6
7

In [4]:
#continue
for num in range(10):
  if num == 4 or num == 7:
   continue     # continue is for skip
  else:
     pass        # or add other code to be executed when num is not 4 or 7
  print(num)

    # 4 or 7 skip

0
1
2
3
5
6
8
9

In [5]:
# pass
for i in range(5):
    if i == 3:
        pass  # Kuch nahi karega
    print(i)

0
1
2
3
4